.button 
  display: inline-block
  padding: 12px 41px
  font-size: 14px
  line-height: 1.2
  font-weight: 500
  text-transform: uppercase
  color: $color-gray
  border: 2px solid $color-gray-light
  outline: none
  background-color: #fff
  cursor: pointer
  &--blue 
    color: $color-blue
    border-color: $color-blue
  &--green
    color: $color-green
    border-color: $color-green
  &--crame
    color: $color-crame
    border-color: $color-crame