.header 
  background-color: #fff
  +media-sm 
    position: fixed
    z-index: 100
    top: 0
    left: 0
    right: 0
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1)

.header-row 
  position: relative
  min-height: 110px
  display: flex
  align-items: center
  justify-content: space-between
  +media-lg 
    min-height: 100px
  +media-md
    min-height: 90px
  +media-sm   
    min-height: 80px

.header__left 
  width: 68%
  +media-1400
    width: 780px
    display: flex
    justify-content: space-between
    align-items: center

.header__right
  display: flex
  justify-content: space-between
  align-items: center
  width: 32%
  +media-1400
    width: 250px

.header__logo
  position: absolute
  top: 50% 
  left: -255px
  transform: translateY(-50%)  
  +media-1400
    position: static
    transform: translateY(0%)  
  +media-md 
    margin-right: 30px
    
.logo 
  display: block
  width: 110px
  +media-lg
    width: 100px
  img 
    width: 100%

.header__nav 
  +media-lg
    padding-right: 25px
  +media-sm 
    display: none

.search__text 
  display: inline-block
  vertical-align: middle
  font-size: 14px 
  line-height: 1.2
  color: $color-gray
  border: none
  padding: 2px 5px
  &:focus 
    outline-color: $color-blue
  +media-1400
    width: 100px
  +media-md
    display: none


.search__submit 
  display: inline-block
  vertical-align: middle
  margin-bottom: 2px
  width: 14px
  height: 14px
  border: none
  background-color: #fff
  background: url('../img/search.svg') no-repeat center 
  background-size: contain
  cursor: pointer
  +media-sm 
    width: 30px
    height: 30px


.language 
  cursor: pointer
  +media-sm 
    display: none


.language__name 
  position: relative
  padding-left: 23px
  font-size: 14px 
  line-height: 1.2
  font-weight: 500
  text-transform: uppercase
  color: $color-black
  &:before 
    content: ''
    position: absolute
    top: 1.2px
    left: 0
    width: 16px 
    height: 11px
    background-color: transparent
  &--uk
    &:before
      background-image: url('../img/flag-uk.svg')

.social-fb 
  display: inline-block
  vertical-align: middle
  width: 17px 
  height: 17px
  margin-bottom: 3px
  background-image: url('../img/social-fb.svg')
  background-size: cover
  +media-sm 
    display: none

.nav-btn 
  display: none
  flex-direction: column
  justify-content: space-between
  padding: 8px 5px
  width: 40px
  height: 40px
  // border: 2px solid $color-black
  cursor: pointer
  span 
    display: block
    height: 2px 
    width: 100%
    background-color: $color-black
  +media-sm 
    display: flex

@media (max-width: 1670px)
  .header__logo
    left: -120px

