.useful-links 
  margin-bottom: 100px
  +media-md 
    margin-bottom: 70px
  
h2.useful-links__title
  text-align: center 
  margin-bottom: 37px
  +media-lg
    margin-bottom: 25px

.useful-links__row
  padding: 40px 0
  border: 2px solid $color-green
  +media-lg
    padding: 20px 0
  
.useful-links__container 
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 1450px
  padding: 0 15px 
  margin: 0 auto 
  +media-lg 
    justify-content: center
    flex-wrap: wrap
    max-width: 960px


.useful-links__link 
  padding: 10px 10px
  +media-lg 
    padding: 10px 30px
  +media-sm
    padding: 5px 30px